<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Timer</title>
    <script src="radialIndicator.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  </head>
  <body>
    <div id="workout-timer">
      <!-- Navbar -->
      <div id="nav">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <h6 class="m-0 p-2 mt-3 mr-auto d-flex align-items-center">
                  <i class="material-icons text-secondary mr-4"
                    >fitness_center</i
                  >
                  Workout Timer
                </h6>
                <div class="mr-3 mt-3">
                  <button
                    class="btn"
                    id="copy-btn"
                    v-bind:data-clipboard-text="url"
                    data-placement="bottom"
                    title="Copied!"
                    v-if="rawWorkout"
                  >
                    <i
                      class="material-icons text-secondary"
                      title="Copy workout link"
                      >content_copy</i
                    >
                  </button>
                  <button
                    class="btn btn-primary"
                    v-on:click="start()"
                    v-if="!started && rawWorkout"
                  >
                    Start
                  </button>
                  <button
                    class="btn btn-primary"
                    v-on:click="refresh()"
                    v-if="started"
                  >
                    Create
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Workout entry -->
      <div v-if="!started" class="content">
        <div id="workout-entry" class="container">
          <p class="font-weight-bold text">Workout plan</p>
          <div class="input-group">
            <textarea
              class="form-control"
              placeholder="Jog,180&#10;Walk,60&#10;Jog,180"
              rows="15"
              v-model="rawWorkout"
            ></textarea>
          </div>
          <div class="text-secondary">
            <p class="font-weight-bold m-0 mt-3">Format:</p>
            <p class="m-0">exercise name,seconds</p>
            <p>exercise name,seconds</p>
          </div>
        </div>
      </div>

      <div
        class="d-flex justify-content-between flex-column container mx-auto content"
        v-if="started"
      >
        <div
          v-if="!isDone"
          id="timer"
          class="d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-center">{{title}}</h2>
          <div id="timerCircle" class="mb-3 mt-3"></div>
          <div class="row mb-3">
            <button
              class="btn mr-3"
              v-on:click="previous()"
              v-bind:class="{ disabled: idx <= 0 }"
            >
              <i class="material-icons">skip_previous</i>
            </button>
            <button class="btn mr-3" v-on:click="paused = !paused">
              <i class="material-icons">
                {{paused ? "play_arrow" : "pause"}}
              </i>
            </button>
            <button class="btn" v-on:click="next()">
              <i class="material-icons">skip_next</i>
            </button>
          </div>
        </div>

        <h5 class="mt-3 text-center" v-if="idx < sets.length - 1">Up next</h5>
        <h5 class="mt-3 text-center" v-if="idx >= sets.length - 1">
          Last round!
        </h5>
        <div id="workout">
          <div
            v-for="(workoutSet, index) in sets"
            v-if="index > idx"
            class="workout-set"
          >
            <div class="p-3 row">
              <div class="seconds col-1">{{workoutSet.duration}}</div>
              <div class="text-wrap col-11">{{workoutSet.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="app.js"></script>
</html>
