body,
html {
  padding: 0;
  margin: 0;
}

.completed {
  opacity: 0.2;
}

.seconds {
  color: #87ceeb;
  font-weight: bold;
  margin-right: 32px;
  text-align: right;
  width: 48px;
  display: inline-block;
}

.current {
  background-color: #87ceeb;
}

.current .seconds {
  color: black;
}

#workout,
#timer {
  width: 50%;
}

#timer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
}
